<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Give the details of the book you want to add
    <form action="/addbook" method="POST">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="genre" placeholder="Genre">
        <input type="text" name="quantity" placeholder="Quantity">
        <input type="submit" value="Add Book">
    </form>
</body>
</html>