<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% books.forEach(function(book) { %>
            <li>    
                <form action="/reqcheck" method="POST">
                    <input type="hidden" name="id" value="<%= book.id %>">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" value="<%= book.title %>" disabled>
                    <label for="author">Author:</label>
                    <input type="text" name="author" id="author" value="<%= book.author %>" disabled>
                    <button type="submit">Request for Checkout!</button>
                </form>
            </li>
        <% }); %>
    </ul>
    </form>
</body>
</html>