<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="requestForAdmin" method="POST">
        Do you wish to apply for the Admin Status?
        <button type="submit">YES</button>
    </form>
</body>
</html>